{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "max-len": [2, { "code": 120, "tabWidth": 4, "comments": 90 }],
    "semi": 0,
    "@typescript-eslint/semi": [2, "always"],
    "quotes": 0,
    "@typescript-eslint/quotes": [2, "single"],
    "comma-dangle": 0,
    "@typescript-eslint/comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline",
        "enums": "always-multiline",
        "generics": "always-multiline",
        "tuples": "always-multiline"
      }
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/member-delimiter-style": [
      2,
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": true
        }
      }
    ],
    "@typescript-eslint/prefer-enum-initializers": 2,
    "@typescript-eslint/no-var-requires": 0
  }
}
