.rootLayout {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.rootHeader {
  position: relative;
  height: 56px;
  line-height: 56px;
  background-color: #2673dd;
  color: white;
  padding: 0 0 0 25px;
}

.userInfo {
  position: absolute;
  top: 0;
  right: 50px;
}

.rootSider {
  background-color: #fff;
  position: relative;
}

.triggerWrap {
  box-shadow: inset 0px 1px 0px #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  height: 40px;
  left: 0;
  right: 0;
  background-color: #fff;
}

.trigger {
  font-size: 18px;
  padding: 0 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.rootContent {
  position: relative;
  background-color: #e5e5e5;
}
